@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alatsi", serif;
 
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.red {
  color: rgb(209, 0, 0);
}







/* nav */
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 80%;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(66, 70, 66, 0.336);
  z-index: 1;
  pointer-events: none;
}

.navbar {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  position: relative;
  height: 326px;
  overflow: hidden;
  padding: 40px 15px;
}



.navbar .content-wrapper {
  position: relative;
  z-index: 2;
}



.nav.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-right: 32px;
}

.btn-contact {
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s;
  font-family:'Alatsi', serif;
background-color: rgb(209, 0, 0);
  border: 2px solid rgb(209, 0, 0); 
  padding: 6px 14px;
  border-radius:100px; 
}

.link:hover {
      color: rgb(255, 255, 255);
  
}


.btn-contact:hover,
.search__btn:hover {
  color: rgb(209, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: ;
  border-color: rgb(209, 0, 0);
}

.input-bar:hover {
  border-color:rgb(209, 0, 0);
}

.search__btn:hover svg path {
  fill: rgb(209, 0, 0);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  
 
}

.logo__img {
  height: 80px;
  width: auto;
  margin-left: 36px;
  
 
}

.logo__text {
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-family: "Alatsi", serif;
  font-weight: bold;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);

}

.link {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Alatsi", serif;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.link::after,
.search__btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

.input-icon-container {
  position: relative;
  z-index: 3; 
}

.search__btn {
  background-color: rgb(209, 0, 0);
}

.input-bar,
.search__btn {
  padding: 14px 20px 14px 48px; 
  font-size: 18px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 999px;
  width: 100%;
  text-align: left;
  transition: 1s ease ease-in;
  cursor: pointer;
 
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
  pointer-events: auto;
  cursor: pointer;
  
 
}

